html {
  font-family: Playfair Display, serif;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

a:focus {
  outline: 3px solid #000;
}

.banner {
  background-image: linear-gradient(#0A3A5D, #0CB4DC)
}

h1,
nav a {
  color: #fff;
}

nav a {
  text-decoration: none;
  display: block;
  padding: .3em
}

nav a:hover {
  background-color: #0A3A5D;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  font-family: Lato, sans-serif;
}

h3,
p {
  font-family: Lato, sans-serif;
}

.benefits {
  font-family: Lato, sans-serif;
}

.secure,
.cost-effective,
.quick,
.easy {
  background-image: linear-gradient(#0A3A5D, #0CB4DC)
}

.secure h3,
.cost-effective h3,
.quick h3,
.easy h3,
.secure p,
.cost-effective p,
.quick p,
.easy p {
  color: #fff;
}

.e-signature,
.benefits-header,
.free-trial {
  color: #0A3A5D;
}

.sign-up {
  font-family: Lato, sans-serif;
  color: #0A3A5D;
}


footer {
  background-image: linear-gradient(#0A3A5D, #0CB4DC)
}

footer a {
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: .2em
}

.copyright {
  color: #fff;
  font-family: Lato, sans-serif;
}

@media only screen and (min-width: 38em) {


  nav li {
    display: inline-block;
    padding: 0 .5rem;
  }

  nav a:hover {
  border-radius: 10px;
}

.form {
  padding-left: .5em;
}



}
