html {
  font-family: "Playfair Display", serif;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

a:focus {
  outline: 3px solid #000;
}

.banner {
  background-image: linear-gradient(#0a3a5d, #0cb4dc);
}

h1,
nav a {
  color: #fff;
}

nav a {
  text-decoration: none;
  display: block;
  padding: .3em;
}

nav a:hover {
  background-color: #0a3a5d;
}

nav ul {
  padding-left: 0;
  font-family: Lato, sans-serif;
}

.btn {
  border: 3px solid #0a3a5d;
  background-color: #0a3a5d;
  font-family: Lato, sans-serif;
}

.btn:hover {
  border: 3px solid #0cb4dc;
  background-color: #0cb4dc;
}

h3,
p {
  font-family: Lato, sans-serif;
}

.benefits {
  font-family: Lato, sans-serif;
}

.secure,
.cost-effective,
.quick,
.easy {
  background-image: linear-gradient(#0a3a5d, #0cb4dc);
}

.secure h3,
.cost-effective h3,
.quick h3,
.easy h3,
.secure p,
.cost-effective p,
.quick p,
.easy p {
  color: #fff;
}

.industry,
.e-signature,
.benefits-header,
.free-trial {
  color: #0a3a5d;
}

.unlock,
.table-body,
.industry-col,
.integrations-col,
.sign-up {
  font-family: Lato, sans-serif;
  color: #0a3a5d;
}

footer {
  background-image: linear-gradient(#0a3a5d, #0cb4dc);
}

footer a {
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: .2em;
}

.copyright {
  color: #fff;
  font-family: Lato, sans-serif;
}

@media only screen and (min-width: 38em) {

  nav li {
    display: inline-block;
    padding: 0 .5rem;
  }

  nav a:hover {
    border-radius: 10px;
  }

  .form {
    padding-left: .5em;
  }

  .img-flex {
    padding-right: 1.5em;
    padding-bottom: 1.5em;
  }

}
