html {
  font-family: Playfair Display, serif;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

a:focus {
  outline: 3px solid #000;
}

.banner {
  background-image: linear-gradient(#0A3A5D, #0CB4DC)
}

h1,
nav a {
  color: #fff;
}

nav a {
  text-decoration: none;
  display: block;
  padding: .2em
}

nav a:hover {
  background-color: #0A3A5D;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  font-family: Lato, sans-serif;
}

.benefits {
  font-family: Lato, sans-serif;
}


footer {
  background-image: linear-gradient(#0A3A5D, #0CB4DC)
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}
